@media (max-width: 1600px){ 
	html{
		font-size:14px;
	}
}
@media (min-width: 1600px){
	html{
		font-size:16px;
	}
}
body{
    background: #f6f6f6;
    font-family: siyuan,"Microsoft YaHei",sans-serif;
    min-width: 1200px;
}
.cons{
    padding-top: 6.25rem;
    height: 40.625rem;
    position: relative;
}
.con{
    width: 75rem;
    height: 36.75rem;
    margin: 0rem auto;
    margin-top: 1.875rem;
}
/* h1 */
.con h1{
    width: 75rem;
    height: 4.375rem;
    line-height: 4.375rem;
    color: #313131;
    font-size: 2.1rem;
    font-weight: bold;
}
/* 购物车信息.goods_info */
.goods_info{
    width: 75rem;
    height: 7.5rem;
    background: white;
}
.goods_info span{
    display: block;
}
/* 购物车信息：已选中box，图片pic，发货时间time */
.goods_info .box{
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/tubiao3.png') no-repeat -362px -20px;
    margin: 3.125rem 1.25rem;
    float: left;
}
/* 图片pic */
.goods_info .pic{
    width: 6.875rem;
    height: 7.5rem;
    float: left;
    margin: 0.9375rem auto;
    margin-right: 1.25rem;
    position: relative;
}
.pic img{
    width: 6.875rem;
    height: 6.25rem;
}
.pic div{
    width: 6.875rem;
    height: 7.5rem;
    margin-top: -7.4375rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    display: none;
}
/* 发货时间time */
.goods_info .time{
    width: 16.25rem;
    height: 4.375rem;
    margin-top: 3.125rem;
    line-height: 1.25rem;
    float: left;
}
.goods_info .time span{
    font-size: 1.25rem;
}
.goods_info .time p{
    font-size: 0.8125rem;
    color: #a0a0a0;
}
/* 购物车信息：颜色 info_color，修改info_alter、 价格info_price、数量info_price，删除del*/
.info{
    width: 46.875rem;
    height: 5rem;
    line-height: 5rem;
    margin-top: 1.25rem;
    float: left;
}
/* 颜色 info_color */
.info .info_color{
    width: 16.25rem;
    font-size: 0.875rem;
    float: left;
}
/* 修改info_alter */
.info .info_alter{
    width: 4.375rem;
    font-size: 0.875rem;
    float: left;
    cursor: pointer;
    position: relative;
}
.info_alter img{
    width: 1.5625rem;
    height: 1.5625rem;
    margin-top: 1.6875rem;
    float: left;
}
.info_alter .alter{
    width: 1.875rem;
    color: #a0a0a0;
    font-weight: bold;
    float: left;
}
.info_alter .alter:hover{
    color: black;
}
/* 价格info_price */
.info .info_price{
    width: 13.125rem;
    font-size: 1.25rem;
    text-align: center;
    float: left;
    font-weight: bold;
}
/* 数量info_price */
.info .info_number{
    width: 5.25rem;
    float: left;
    margin-left: 0.625rem;
    margin-top: 1.875rem;
    text-align: center;
}
.info_number ul{
	width: 6.25rem;
}
.info_number ul li{
    height: 1.25rem;
    line-height: 1.25rem;
    float: left;
    border: 1px solid #a0a0a0;
    text-align: center;
    margin-right: 0;
}
.info_number ul li:nth-of-type(1){
    border-right: 0rem;
    width: 1.25rem;
    cursor: pointer;
}
.info_number ul li:nth-of-type(2){
    width: 2.5rem;
}
.info_number ul li:nth-of-type(3){
    border-left: 0rem;
    width: 1.25rem;
    cursor: pointer;
}
.info_number ul li:nth-of-type(1):hover{
    color: white;
    background: #000;
}
.info_number ul li:nth-of-type(3):hover{
    color: white;
    background: #000;
}
/* 删除del */
.info .del{
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    float: left;
    color: #a0a0a0;
    font-size: 1.375rem;
    cursor: pointer;
}
/* 点击修改，出现可修改信息 */
.alter_click{
    width: 40.3125rem;
    height: 15.3125rem;
    margin-top: 3.25rem;
    margin-left: -16.25rem;
    border: 1px solid black;
    position: absolute;
    background: white;
    display: none;
}
/* 显示左边alter_click_l的图片 */
.alter_click .alter_click_l{
    width: 12.5rem;
    height: 12.5rem;
    margin: 1.25rem;
    float: left;
}
.alter_click .alter_click_l img{
    width: 12.5rem;
    height: 11.875rem;
}
/* 显示右边alter_click_r的信息 */
.alter_click .alter_click_r{
    width: 22.5rem;
    height: 15rem;
    margin: 0.9375rem auto;
    float: left;
}
/* 价格标签span */
.alter_click_r span{
    height: 1.875rem;
    line-height: 1.875rem;
    font-size: 1.25rem;
}
/* 发货时间标签p */
.alter_click_r p{
    height: 1.25rem;
    line-height: 1.25rem;
    margin-left: 1.25rem;
    font-size: 0.75rem;
    color: #555555;
}
/* 可选择的颜色click_r_color */
.click_r_color{
    margin-top: 0.625rem;
    height: 2.5rem;
}
.click_r_color span,.click_r_type span{
    width: 5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    display: block;
    font-size: 0.8125rem;
    color: #a5a5a5;
    float: left;
}
.click_r_color .color1,.color2{
    width: 1.625rem;
    height: 1.625rem;
    line-height: 1.625rem;
    float: left;
}
.click_r_color .color1{
    border: 2px solid black;
}
.click_r_color .color2{
    border: 2px solid #a5a5a5;
    margin-left: 0.625rem;
}
.click_r_color .color2:hover{
    border: 2px solid black;
}
.click_r_color img{
    width: 1.125rem;
    height: 1.125rem;
    margin: 0.25rem 0.25rem;
}
/* 可选择的款型click_r_type */
.click_r_type{
    height: 1.875rem;
}
.click_r_type .sanrenzuo{
    width: 5.3125rem;
    height: 1.375rem;
    border: 2px solid black;
    float: left;
}
.sanrenzuo span{
    line-height: 1.375rem;
    text-align: center;
    color: black;
}
/* 修改后可点击确认按钮button */
.alter_click_r .sure{
    width: 22.5rem;
    height: 2.5rem;
    background: black;
    color: white;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 2.5rem;
}
.alter_click_r .sure:hover{
    background: rgba(0, 0, 0, 0.8);
}
/* 若不需要修改，点击右上角的del_alter关闭此窗口 */
.alter_click .del_alter{
    width: 1.25rem;
    height: 1.25rem;
    top: 0.3125rem;
    right: 0.3125rem;
    line-height: 1.25rem;
    font-size: 1rem;
    color: #a0a0a0;
    text-align: center;
    position: absolute;
}
/* 固定条_ */
.fix{
    width: 100%;
    height: 3.75rem;
    background: white;
    border-top: 0.0625rem solid #d2d2d2;
    border-bottom: 0.0625rem solid #d2d2d2;
}
/* 固定样式 */
.fixed{
    bottom: 0rem;
    left: 0rem;
    position: fixed;
    z-index: 2;
}
.fix .pay{
    width: 75rem;
    height: 3.75rem;
    margin: 0rem auto;
}
.pay .box{
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/tubiao3.png') no-repeat -22.5rem -1.1875rem;
    float: left;
    margin: 1.25rem 1.25rem;
}
.pay button{
  border: none;
}
.pay p{
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    margin-left: 3.125rem;
    cursor: pointer;
}
.pay span{
    display: block;
    float: left;
    width: 7.5rem;
    height: 3.75rem;
    color: #a3a3a3;
    margin-left: 5.625rem;
    margin-top: -2.5rem;
    cursor: pointer;
}
.pay .pay_price{
    line-height: 3.75rem;
    color: black;
    font-size: 1.5rem;
    margin-right: 15.625rem;
    float: right;
    margin-top: -3.75rem;
}
.pay button{
    width: 11.875rem;
    height: 2.8125rem;
    background: black;
    font-size: 1rem;
    text-align: center;
    line-height: 2.8125rem;
    float: right;
    color: white;
    margin-top: -3.125rem;
   /* margin-left: 53.75rem;
    */
}
.pay button:hover{
    background: rgba(0, 0, 0, 0.8);
}
/* 空购物车 */
.cart{
    height: 40.625rem;
    display: none;
}
.cart div{
    width: 11.875rem;
    height: 25rem;
    margin: 0rem auto;
}
.cart div span{
    width: 11.875rem;
    height: 11.875rem;
    display: inline-block;
    margin-top: 11.25rem;
    background: url('../images/tubiao4.png') no-repeat -55.75rem 0rem;
}
.cart p{
    text-align: center;
    font-size: 1.125rem;
    color: #c8c7c7;
}
/* 服务承诺_ */
.server{
    height: 24.5rem;
    background: lightpink;
}
/* 背景图片 */
.server .img_bg{
    width: 100%;
    height: 25.75rem;
    margin-top: -1.25rem;
    position: relative;
}
/* 服务信息 */
.server_info{
    width: 100%;
    height: 25.625rem;
    margin-top: -25.625rem;
    position: absolute;
    z-index: 1;
}
/* h2 */
.server_info h2{
    width: 12.5rem;
    height: 12.5rem;
    font-size: 2.25rem;
    line-height: 12.5rem;
    margin: 0rem auto;
    color: white;
}
/* 服务内容server_promise */
.server_info .server_promise{
    width: 55.625rem;
    height: 10rem;
    margin: 0rem auto;
}
.server_promise ul{
    width: 55.625rem;
    height: 9.375rem;
}
.server_promise ul li{
    width: 13.75rem;
    height: 5rem;
    float: left;
    color: white;
    text-align: center;
    border-right: 0.0625rem solid #959595;
}
.server_promise ul li:nth-of-type(4){
    border-right: 0rem;
}
.server_promise ul li p{
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.server_promise ul li span{
    font-size: 1.375rem;
}
.server_promise .span_img{
    width: 4.0625rem;
    height: 3.75rem;
    display: inline-block;
}
.server_promise ul li .img1{
    background: url('../images/tubiao2.png') no-repeat -8rem -0.125rem;
}
.server_promise ul li .img2{
    background: url('../images/tubiao2.png') no-repeat -12rem -0.25rem;
}
.server_promise ul li .img3{
    background: url('../images/tubiao2.png') no-repeat -15.9375rem -0.25rem;
}
.server_promise ul li .img4{
    background: url('../images/tubiao2.png') no-repeat -19.9375rem -0.125rem;
}
.footer {
  margin-top: 0;
}
